body {
    background-image: url("images/background.png");
    display: flex;
    justify-content: center;
}

#game {
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    background-image: url("images/background.png");
    border: none;
}

.choice :hover {
    transform: scale(1.08);
    transition: 0.2s;
}
    
